<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMovieService" />
                <binding name="BasicHttpBinding_IReviewPersonService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59609/MovieService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMovieService" contract="Services.IMovieService"
                name="BasicHttpBinding_IMovieService" />
            <endpoint address="http://localhost:59693/ReviewPersonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReviewPersonService"
                contract="Services2.IReviewPersonService" name="BasicHttpBinding_IReviewPersonService" />
        </client>
    </system.serviceModel>
</configuration>